---
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: csi-driver-controller-vpa
  namespace: {{ .Release.Namespace }}
spec:
  resourcePolicy:
    containerPolicies:
    - containerName: aws-csi-driver
      controlledValues: RequestsOnly
    - containerName: aws-csi-provisioner
      controlledValues: RequestsOnly
    - containerName: aws-csi-attacher
      controlledValues: RequestsOnly
    - containerName: aws-csi-snapshotter
      controlledValues: RequestsOnly
    - containerName: aws-csi-resizer
      controlledValues: RequestsOnly
    - containerName: aws-csi-liveness-probe
      controlledValues: RequestsOnly
    - containerName: aws-csi-volume-modifier
      controlledValues: RequestsOnly
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: csi-driver-controller
  updatePolicy:
    updateMode: Recreate
