{{ if eq .Values.gardener.seed.provider "aws" }}
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: mtu-customizer
  namespace: {{ .Release.Namespace }}
  labels:
    k8s-app: mtu-customizer
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
spec:
  selector:
    matchLabels:
      k8s-app: mtu-customizer
  template:
    metadata:
      annotations:
        checksum/configmap-custom-mtu: {{ include (print $.Template.BasePath "/configmap-custom-mtu.yaml") . | sha256sum }}
      labels:
        k8s-app: mtu-customizer
    spec:
      priorityClassName: gardener-system-900
      hostNetwork: true
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - key: CriticalAddonsOnly
          operator: Exists
        - effect: NoExecute
          operator: Exists
      initContainers:
      - name: mtu-customizer
        image: {{ include "images.alpine" . }}
        command:
        - /mtu-customizer/mtu-customizer.sh
        securityContext:
          capabilities:
            add: ["NET_ADMIN", "SYS_TIME"]
        volumeMounts:
          - name: mtu-customizer
            mountPath: /mtu-customizer
      containers:
        - name: pause
          image: {{ include "images.pause" .  }}
      terminationGracePeriodSeconds: 2
      volumes:
        - name: mtu-customizer
          configMap:
            name: custom-mtu-configmap
            defaultMode: 0755
{{end}}
