machineClasses:
- name: class-1
# labels:
#   foo: bar
  ami: ami-123456
  region: eu-west-1
  machineType: m4.xlarge
  nodeTemplate:
    architecture: amd64
    capacity:
      cpu: 4
      gpu: 0
      memory: 16Gi
    instanceType: m4.xlarge
    region: eu-west-1
    zone: eu-west-1a
  iamInstanceProfile:
    name: nodes
  # arn: arn
  keyName: my-ssh-key
  networkInterfaces:
  - subnetID: subnet-acbd1234
    securityGroupIDs:
    - sg-xyz12345
  tags:
    Name: shoot-crazy-botany
    kubernetes.io/cluster/shoot-crazy-botany: "1"
    kubernetes.io/role/node: "1"
  secret:
    cloudConfig: base64(abc)
  credentialsSecretRef:
    name: cloudprovider
    namespace: shoot-namespace
  # labels:
  #   foo: bar
  blockDevices:
  - ebs:
      volumeSize: 50
      volumeType: gp2
    # iops: 100
    # throughput: 125 #(only for gp3)
    # snapshotID: snap-12345
#  instanceMetadata:
#    httpEndpoint: "disabled"
#    httpTokens: "required"
#    httpPutResponseHopLimit: 2
#  cpuOptions:
#    coreCount: 2 # default for m4.xlarge
#    threadsPerCore: 2 # default for m4.xlarge
