apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "labels" . | indent 4 }}
    high-availability-config.resources.gardener.cloud/type: server
spec:
  revisionHistoryLimit: 5
  replicas: {{ .Values.global.replicaCount }}
  selector:
    matchLabels:
{{ include "labels" . | indent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret-gardener-extension-admission-aws-cert: {{ include (print $.Template.BasePath "/secret-cert.yaml") . | sha256sum }}
        {{- if .Values.global.kubeconfig }}
        checksum/gardener-extension-admission-aws-kubeconfig: {{ include (print $.Template.BasePath "/secret-kubeconfig.yaml") . | sha256sum }}
        {{- end }}
      labels:
        networking.gardener.cloud/to-dns: allowed
        networking.resources.gardener.cloud/to-virtual-garden-kube-apiserver-tcp-443: allowed
{{ include "labels" . | indent 8 }}
    spec:
      {{- if not .Values.global.virtualGarden.enabled }}
      serviceAccountName: {{ include "name" . }}
      {{- else if and .Values.global.virtualGarden.enabled .Values.global.virtualGarden.user.name }}
        {{- if .Values.global.serviceAccountTokenVolumeProjection.enabled }}
      serviceAccountName: {{ include "name" . }}
        {{- else }}
      serviceAccountName: default
        {{- end }}
      {{- else }}
      serviceAccountName: default
      {{- end }}
      {{- if .Values.global.kubeconfig }}
      automountServiceAccountToken: false
      {{- end }}
      containers:
      - name: {{ include "name" . }}
        image: {{ include "image" .Values.global.image }}
        imagePullPolicy: {{ .Values.global.image.pullPolicy }}
        command:
        - /gardener-extension-admission-aws
        - --webhook-config-server-port={{ .Values.global.webhookConfig.serverPort }}
        - --webhook-config-cert-dir=/etc/gardener-extension-admission-aws/srv
        {{- if .Values.global.kubeconfig }}
        - --kubeconfig=/etc/gardener-extension-admission-aws/kubeconfig/kubeconfig
        {{- end }}
        {{- if .Values.global.metricsPort }}
        - --metrics-bind-address=:{{ .Values.global.metricsPort }}
        {{- end }}
        - --health-bind-address=:{{ .Values.global.healthPort }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.global.healthPort }}
            scheme: HTTP
          initialDelaySeconds: 10
        readinessProbe:
          httpGet:
            path: /readyz
            port: {{ .Values.global.healthPort }}
            scheme: HTTP
          initialDelaySeconds: 5
        ports:
        - name: webhook-server
          containerPort: {{ .Values.global.webhookConfig.serverPort }}
          protocol: TCP
{{- if .Values.global.resources }}
        resources:
{{ toYaml .Values.global.resources | nindent 10 }}
{{- end }}
        volumeMounts:
        - name: gardener-extension-admission-aws-cert
          mountPath: /etc/gardener-extension-admission-aws/srv
          readOnly: true
        {{- if .Values.global.kubeconfig }}
        - name: gardener-extension-admission-aws-kubeconfig
          mountPath: /etc/gardener-extension-admission-aws/kubeconfig
          readOnly: true
        {{- end }}
        {{- if .Values.global.serviceAccountTokenVolumeProjection.enabled }}
        - name: service-account-token
          mountPath: /var/run/secrets/projected/serviceaccount
          readOnly: true
        {{- end }}
      volumes:
      - name: gardener-extension-admission-aws-cert
        secret:
          secretName: gardener-extension-admission-aws-cert
          defaultMode: 420
      {{- if .Values.global.kubeconfig }}
      - name: gardener-extension-admission-aws-kubeconfig
        secret:
          secretName: gardener-extension-admission-aws-kubeconfig
          defaultMode: 420
      {{- end }}
      {{- if .Values.global.serviceAccountTokenVolumeProjection.enabled }}
      - name: service-account-token
        projected:
          sources:
          - serviceAccountToken:
              path: token
              expirationSeconds: {{ .Values.global.serviceAccountTokenVolumeProjection.expirationSeconds }}
              {{- if .Values.global.serviceAccountTokenVolumeProjection.audience }}
              audience: {{ .Values.global.serviceAccountTokenVolumeProjection.audience }}
              {{- end }}
      {{- end }}
