---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: aws-custom-route-controller
  namespace: {{ .Release.Namespace }}
  labels:
    app: kubernetes
    role: aws-custom-route-controller
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      app: kubernetes
      role: aws-custom-route-controller
  unhealthyPodEvictionPolicy: AlwaysAllow
