images:
- name: terraformer
  sourceRepository: github.com/gardener/terraformer
  repository: eu.gcr.io/gardener-project/gardener/terraformer-aws
  tag: "v2.5.0"

- name: cloud-controller-manager
  sourceRepository: github.com/kubernetes/kubernetes
  repository: k8s.gcr.io/hyperkube
  targetVersion: "< 1.17"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.17.17"
  targetVersion: "1.17.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.18.17"
  targetVersion: "1.18.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.19.9"
  targetVersion: "1.19.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.20.5"
  targetVersion: "1.20.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.21.0"
  targetVersion: ">= 1.21"
- name: machine-controller-manager
  sourceRepository: github.com/gardener/machine-controller-manager
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager
  tag: "v0.38.0"
- name: machine-controller-manager-provider-aws
  sourceRepository: github.com/gardener/machine-controller-manager-provider-aws
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager-provider-aws
  tag: "v0.4.1"
- name: aws-lb-readvertiser
  sourceRepository: github.com/gardener/aws-lb-readvertiser
  repository: eu.gcr.io/gardener-project/gardener/aws-lb-readvertiser
  tag: "0.7.0"

- name: csi-driver
  sourceRepository: github.com/kubernetes-sigs/aws-ebs-csi-driver
  repository: k8s.gcr.io/provider-aws/aws-ebs-csi-driver
  tag: "v0.9.0"
- name: csi-provisioner
  sourceRepository: github.com/kubernetes-csi/external-provisioner
  repository: k8s.gcr.io/sig-storage/csi-provisioner
  tag: "v1.6.0"
- name: csi-attacher
  sourceRepository: github.com/kubernetes-csi/external-attacher
  repository: k8s.gcr.io/sig-storage/csi-attacher
  tag: "v2.2.0"
- name: csi-snapshotter
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: k8s.gcr.io/sig-storage/csi-snapshotter
  tag: "v2.1.5"
- name: csi-resizer
  sourceRepository: github.com/kubernetes-csi/external-resizer
  repository: k8s.gcr.io/sig-storage/csi-resizer
  tag: "v0.5.0"
- name: csi-snapshot-controller
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: k8s.gcr.io/sig-storage/snapshot-controller
  tag: "v2.1.5"
- name: csi-node-driver-registrar
  sourceRepository: github.com/kubernetes-csi/node-driver-registrar
  repository: k8s.gcr.io/sig-storage/csi-node-driver-registrar
  tag: "v1.3.0"
- name: csi-liveness-probe
  sourceRepository: github.com/kubernetes-csi/livenessprobe
  repository: k8s.gcr.io/sig-storage/livenessprobe
  tag: "v2.2.0"
