images:
- name: terraformer
  sourceRepository: github.com/gardener/terraformer
  repository: eu.gcr.io/gardener-project/gardener/terraformer-aws
  tag: "v2.18.1"

- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.17.17"
  targetVersion: "1.17.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.18.20"
  targetVersion: "1.18.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.19.14"
  targetVersion: "1.19.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.20.15"
  targetVersion: "1.20.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.21.12"
  targetVersion: "1.21.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.22.15"
  targetVersion: "1.22.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.23.12"
  targetVersion: "1.23.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.24.6"
  targetVersion: "1.24.x"
- name: cloud-controller-manager
  sourceRepository: github.com/gardener/cloud-provider-aws
  repository: eu.gcr.io/gardener-project/kubernetes/cloud-provider-aws
  tag: "v1.25.2"
  targetVersion: ">= 1.25"
- name: machine-controller-manager
  sourceRepository: github.com/gardener/machine-controller-manager
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager
  tag: "v0.47.0"
- name: machine-controller-manager-provider-aws
  sourceRepository: github.com/gardener/machine-controller-manager-provider-aws
  repository: eu.gcr.io/gardener-project/gardener/machine-controller-manager-provider-aws
  tag: "v0.14.0"
- name: aws-lb-readvertiser
  sourceRepository: github.com/gardener/aws-lb-readvertiser
  repository: eu.gcr.io/gardener-project/gardener/aws-lb-readvertiser
  tag: "v0.9.0"
- name: aws-custom-route-controller
  sourceRepository: github.com/gardener/aws-custom-route-controller
  repository: eu.gcr.io/gardener-project/gardener/aws-custom-route-controller
  tag: "v0.2.0"

- name: csi-driver
  sourceRepository: github.com/kubernetes-sigs/aws-ebs-csi-driver
  repository: public.ecr.aws/ebs-csi-driver/aws-ebs-csi-driver
  tag: "v1.11.3"
- name: csi-provisioner
  sourceRepository: github.com/kubernetes-csi/external-provisioner
  repository: registry.k8s.io/sig-storage/csi-provisioner
  tag: "v2.2.2"
  targetVersion: "< 1.20"
- name: csi-provisioner
  sourceRepository: github.com/kubernetes-csi/external-provisioner
  repository: registry.k8s.io/sig-storage/csi-provisioner
  tag: "v3.3.0"
  targetVersion: ">= 1.20"
- name: csi-attacher
  sourceRepository: github.com/kubernetes-csi/external-attacher
  repository: registry.k8s.io/sig-storage/csi-attacher
  tag: "v3.4.0"
- name: csi-resizer
  sourceRepository: github.com/kubernetes-csi/external-resizer
  repository: registry.k8s.io/sig-storage/csi-resizer
  tag: "v1.5.0"
- name: csi-snapshotter
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/csi-snapshotter
  tag: "v3.0.3"
  targetVersion: "< 1.20"
- name: csi-snapshotter
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/csi-snapshotter
  tag: "v4.2.1"
  targetVersion: ">= 1.20"
- name: csi-snapshot-validation-webhook
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/snapshot-validation-webhook
  tag: "v3.0.3"
  targetVersion: "< 1.20"
- name: csi-snapshot-validation-webhook
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/snapshot-validation-webhook
  tag: "v4.2.1"
  targetVersion: ">= 1.20"
- name: csi-snapshot-controller
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/snapshot-controller
  tag: "v3.0.3"
  targetVersion: "< 1.20"
- name: csi-snapshot-controller
  sourceRepository: github.com/kubernetes-csi/external-snapshotter
  repository: registry.k8s.io/sig-storage/snapshot-controller
  tag: "v4.2.1"
  targetVersion: ">= 1.20"
- name: csi-node-driver-registrar
  sourceRepository: github.com/kubernetes-csi/node-driver-registrar
  repository: registry.k8s.io/sig-storage/csi-node-driver-registrar
  tag: "v2.5.1"
- name: csi-liveness-probe
  sourceRepository: github.com/kubernetes-csi/livenessprobe
  repository: registry.k8s.io/sig-storage/livenessprobe
  tag: "v2.7.0"
