{{- if not .Values.useLegacyProvisioner }}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: default
  annotations:
    resources.gardener.cloud/delete-on-invalid-update: "true"
    {{- if .Values.managedDefaultClass }}
    storageclass.kubernetes.io/is-default-class: "true"
    {{- end }}
allowVolumeExpansion: true
parameters:
  encrypted: "true"
provisioner: ebs.csi.aws.com
volumeBindingMode: WaitForFirstConsumer

---
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: default
  {{- if .Values.managedDefaultClass }}
  annotations:
    snapshot.storage.kubernetes.io/is-default-class: “true”
  {{- end }}
driver: ebs.csi.aws.com
deletionPolicy: Delete
{{- end }}
