replicas: 1
clusterName: shoot-foo-bar
kubernetesVersion: 1.26.8
podNetwork: 192.168.0.0/16
podAnnotations: {}
podLabels: {}
featureGates: {}
images:
  cloud-controller-manager: image-repository:image-tag
resources:
  requests:
    cpu: 24m
    memory: 100Mi
tlsCipherSuites: []
secrets:
  server: cloud-controller-manager-server
vpa:
  resourcePolicy: {}

# TODO(rfranzke): Remove this field after August 2024.
gep19Monitoring: false

useWorkloadIdentity: false
