replicas: 1
podAnnotations: {}

images:
  csi-driver: image-repository:image-tag
  csi-provisioner: image-repository:image-tag
  csi-attacher: image-repository:image-tag
  csi-snapshotter: image-repository:image-tag
  csi-resizer: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag
  csi-snapshot-controller: image-repository:image-tag
  csi-snapshot-validation-webhook: image-repository:image-tag

socketPath: /var/lib/csi/sockets/pluginproxy
region: region

resources:
  driver:
    requests:
      cpu: 20m
      memory: 50Mi
    limits:
      memory: 400Mi
  provisioner:
    requests:
      cpu: 11m
      memory: 38Mi
    limits:
      memory: 1.9Gi
  attacher:
    requests:
      cpu: 11m
      memory: 36Mi
    limits:
      memory: 1.9Gi
  snapshotter:
    requests:
      cpu: 11m
      memory: 36Mi
    limits:
      memory: 1.3Gi
  resizer:
    requests:
      cpu: 11m
      memory: 32Mi
    limits:
      memory: 1.5Gi
  livenessProbe:
    requests:
      cpu: 11m
      memory: 32Mi
    limits:
      memory: 300Mi

csiSnapshotController:
  replicas: 1
  podAnnotations: {}
  resources:
    requests:
      cpu: 11m
      memory: 32Mi
    limits:
      memory: 2.2Gi

csiSnapshotValidationWebhook:
  replica: 1
  podAnnotations: {}
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 200Mi
  secrets:
    server: csi-snapshot-validation-server

containerSecurityContext:
  provisioner:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
  attacher:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
  snapshotter:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
  resizer:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
  livenessProbe:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
  driver:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false



