fileSystemID: ""

resources:
  driverController:
    requests:
      memory: 50Mi
    limits:
      memory: 360Mi
  driverNode:
    requests:
      memory: 42Mi
    limits:
      memory: 2Gi
  nodeDriverRegistrar:
    requests:
      memory: 32Mi
    limits:
      memory: 1Gi
  livenessProbe:
    requests:
      memory: 32Mi
    limits:
      memory: 200Mi
  provisioner:
    requests:
      memory: 38Mi
    limits:
      memory: 400Mi

sidecars:
  livenessProbe:
    securityContext:
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
  nodeDriverRegistrar:
    securityContext:
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false

## Node daemonset variables

# allowMetadataAccess defines whether to create a NetworkPolicy that allows access to the AWS metadata service.
allowMetadataAccess: false

node:
  # Number for the log level verbosity
  logLevel: 5
  volMetricsOptIn: false
  volMetricsRefreshPeriod: 240
  volMetricsFsRateLimit: 5
  tolerations:
    - operator: Exists
  serviceAccount:
    name: efs-csi-node-sa
    annotations: {}
    ## Enable if EKS IAM for SA is used
    #  eks.amazonaws.com/role-arn: arn:aws:iam::111122223333:role/efs-csi-role
  healthPort: 9809
  # securityContext on the node pod
  securityContext:
    # The node pod must be run as root to bind to the registration/driver sockets
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
  env: []
  volumes: []
  kubeletPath: /var/lib/kubelet
  dnsPolicy: ClusterFirst
  useFIPS: false

## controller values

replicas: 1

images:
  csi-driver-efs: image-repository:image-tag
  csi-provisioner: image-repository:image-tag
  csi-liveness-probe: image-repository:image-tag

## Controller deployment variables

controller:
  # Number for the log level verbosity
  logLevel: 5
  # If set, add pv/pvc metadata to plugin create requests as parameters.
  extraCreateMetadata: true
  # environment: prod
  # region: us-east-1
  # Enable if you want the controller to also delete the
  # path on efs when deleting an access point
  deleteAccessPointRootDir: false
  hostNetwork: false
  priorityClassName: system-cluster-critical
  dnsPolicy: ClusterFirst
  dnsConfig: {}
  additionalLabels: {}
  tolerations:
    - key: CriticalAddonsOnly
      operator: Exists
    - key: efs.csi.aws.com/agent-not-ready
      operator: Exists
  # securityContext on the controller pod
  securityContext:
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
  serviceAccount:
    name: efs-csi-controller-sa
  healthPort: 9909
  regionalStsEndpoints: false
  containerSecurityContext:
    privileged: true
  leaderElectionRenewDeadline: 10s
  leaderElectionLeaseDuration: 15s