---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aws-ipam-controller
  namespace: {{ .Release.Namespace }}
  labels:
    app: kubernetes
    role: aws-ipam-controller
    high-availability-config.resources.gardener.cloud/type: controller
spec:
  revisionHistoryLimit: 1
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: kubernetes
      role: aws-ipam-controller
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
{{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | indent 8 }}
{{- end }}
      labels:
        gardener.cloud/role: controlplane
        app: kubernetes
        role: aws-ipam-controller
        networking.gardener.cloud/to-dns: allowed
        networking.gardener.cloud/to-public-networks: allowed
        networking.gardener.cloud/to-runtime-apiserver: allowed
        networking.resources.gardener.cloud/to-kube-apiserver-tcp-443: allowed
{{- if .Values.podLabels }}
{{ toYaml .Values.podLabels | indent 8 }}
{{- end }}
    spec:
      priorityClassName: gardener-system-300
      serviceAccountName: aws-ipam-controller
      terminationGracePeriodSeconds: 5
      containers:
      - name: aws-ipam-controller
        image: {{ index .Values.images "aws-ipam-controller" }}
        imagePullPolicy: IfNotPresent
        command:
        - /aws-ipam-controller
        - --control-kubeconfig=inClusterConfig
        - --cluster-name={{ .Values.clusterName }}
        - --health-probe-port={{ .Values.healthzPort }}
        - --metrics-port={{ .Values.metricsPort }}
        - --namespace={{ .Release.Namespace }}
        - --region={{ .Values.region }}
        - --target-kubeconfig=/var/run/secrets/gardener.cloud/shoot/generic-kubeconfig/kubeconfig
        - --leader-election=true
        - --leader-election-namespace=kube-system
        - --cluster-cidrs={{ .Values.podNetwork }}
        - --mode={{ .Values.mode }}
        - --primary-ip-family={{ .Values.primaryIPFamily }}
        - --node-cidr-mask-size-ipv4={{ .Values.nodeCIDRMaskSizeIPv4 }}
        - --node-cidr-mask-size-ipv6={{ .Values.nodeCIDRMaskSizeIPv6 }}
        - --log-level=info
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: {{ .Values.healthzPort }}
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: {{ .Values.healthzPort }}
            scheme: HTTP
          initialDelaySeconds: 5
        ports:
        - name: metrics
          containerPort: {{ .Values.metricsPort }}
          protocol: TCP
        - name: healthz
          containerPort: {{ .Values.healthzPort }}
          protocol: TCP
        resources:
{{ toYaml .Values.resources | indent 10 }}
        volumeMounts:
        - mountPath: /var/run/secrets/gardener.cloud/shoot/generic-kubeconfig
          name: kubeconfig
          readOnly: true
      volumes:
      - name: kubeconfig
        projected:
          defaultMode: 420
          sources:
          - secret:
              items:
              - key: kubeconfig
                path: kubeconfig
              name: {{ .Values.global.genericTokenKubeconfigSecretName }}
              optional: false
          - secret:
              items:
              - key: token
                path: token
              name: shoot-access-aws-ipam-controller
              optional: false
