name: Integration-Tests
description: |
  Runs Integrationtests using TestMachinery

on:
  push:
    branches:
      - master
  workflow_dispatch:
  workflow_call:
    inputs:
      skip-integration-tests:
        type: boolean
        default: false
        description: 'Skip running integration tests.'
jobs:
  run-tests:
    if: ${{ !inputs.skip-integration-tests }}
    uses: gardener/cc-utils/.github/workflows/run-testmachinery-tests.yaml@master
    permissions:
      id-token: write
      contents: read
    with:
      test-command: |
        ${testrunner_run} \
            --no-execution-group \
            --testrun-prefix tm-extension-aws \
            --timeout=7200 \
            --testruns-chart-path=.ci/testruns/default \
            --set revision="$(git rev-parse @)"

  skip-tests:
    if: ${{ inputs.skip-integration-tests }}
    runs-on: ubuntu-latest
    steps:
      - name: Skip Integration Tests
        run: echo "Skipping Integration Tests as per input parameter."
